<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>



<ul>
    <li>
        <a href="/inv/add-classification">Add New Classification</a>
    </li>
    <h2>Manage Inventory</h2>
    <p>Select a classification</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>Javascript must be enabled to use this page.</noscript>
    <li>
        <a href="/inv/add-inventory">Add New Vehicle</a>
    </li>
</ul>

<script src="../../js/inventory.js"></script>