<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<h1>Contact us!</h1>


<p>Please fill out the form below to contact our support team. We will get back to you as soon as possible.</p>

<section id="form-section">
    
    <form action="/support/contact" method="post">

        <label for="ticket_subject">Subject</label>
        <input type="text" id="ticket_subject" name="ticket_subject" required value="<%= locals.ticket_subject %>">

        <label for="ticket_description">Message</label>
        <textarea id="ticket_description" name="ticket_description" required><%= locals.ticket_description %></textarea>

        <button type="submit">Contact Support</button>

        <input type="hidden" name="account_id"
        <% if(locals.account_id) { %> value="<%= locals.account_id %>"
        <% } %>>
    </form>